body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.margin-bottom {
  margin-bottom: 10px;
}

.red {
  color: red;
}
